* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

button{
    border: none;
    background: transparent;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
    overflow-x: hidden;
}


.header__marca, .categoria__titulo{
    font-family: 'Righteous', cursive;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    
    height: 92px;
    
    background-color: #CF2B2B;
    
    box-shadow: 0px 0px 4px 6px rgba(0,0,0,0.25);

    z-index: 2;
}



.espace{
    height:123px;
}

.header__marca{
    margin-left: 21px;
    margin-top: 8px;
    margin-bottom: 5px;
    
    font-weight: 400;
    font-style: regular;
    font-size: 44px;
    color: #fff;
}

.header__descricao{
    margin-left: 21px;
    
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #fff;
}

.escolher-comida{
    margin-bottom: 116px;
    width: 100vw;
    overflow-x: hidden;
}

.categoria__titulo{
    width: calc(100vw - 19px);
    font-weight: 400;
    font-size: 26px;
    font-style: normal;
    color: #222;
    
    margin-left: 19px;
    margin-bottom: 5px;
}

.categoria__opcoes-pratos{
    display: flex;
    align-items: center;
    height: 250px;
    width: 100vw;
    overflow-x: scroll;
}

.categoria__opcoes-bebidas{
    display: flex;
    align-items: center;
    height: 270px;

    overflow-x: scroll;
}

.categoria__opcoes-sobremesas{
    display: flex;
    align-items: center;
    height: 270px;

    overflow-x: scroll;
}

.categoria__opcoes > div:last-child{
    margin-right: 20px;
}

.opcao__prato, .opcao__bebida, .opcao__sobremesa{
    width: 172px;
    min-width: 172px;
    height: 225px;
    margin-left: 16px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
    background-color: #fff;

    border-radius: 9px;

    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 15%);

    position: relative;

    border: 5px solid #fff;

    cursor: pointer;

}

.check-icon{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #32B72F;
    font-size: 20px;
    display: none;
}

.opcao__bebida{
    height: 240px;
}

.opcao__sobremesa{
    height: 230px;
}

.opcao__imagem, .opcao__nome, .opcao__descricao, .opcao__preco{
    width: 144px;

}

.opcao__imagem img{
    width: 144px;
    margin-top: 11px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.opcao__nome{
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    color: #000;
    margin-bottom: 4px;
}

.opcao__descricao{
    margin-bottom: 5px;

    font-weight: 300;
    font-size: 15px;
    color: #a6a6a6;
}

.opcao__preco{
    margin-bottom: 13px;

    font-weight: 400;
    font-size: 16px;
    color: #000;
    
    position: absolute;

    bottom: -7px;
    left: 8px;

}

footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    
    width: 100vw;
    height:92px;
    background-color: #fff;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

}

footer button{
    height: 61px;
    width: 87vw;

    border-radius: 50px;
    border: none;
    background-color:#CBCBCB;

    color: #fff;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    text-align: center;
}


.selecionado{
    border:5px solid #32B72F;
}

.selecionado ion-icon{
    display: block;
}

.btn-verde{
    background-color: #32B72F;
    cursor: pointer;
}

