* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}

.header__marca, .categoria__titulo{
    font-family: 'Righteous', cursive;
}

header{
    position: fixed;
    top: 0 px;
    left: 0px;
    right: 0px;

    height: 92px;

    background-color: #CF2B2B;

    box-shadow: 0px 0px 4px 6px rgba(0,0,0,0.25);
}

.espace{
    height:123px;
}

.header__marca{
    margin-left: 21px;
    margin-top: 8px;
    margin-bottom: 5px;

    font-weight: 400;
    font-style: regular;
    font-size: 44px;
    color: #fff;
}

.header__descricao{
    margin-left: 21px;
    
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #fff;
}

.categoria__titulo{
    font-weight: 400;
    font-size: 26px;
    font-style: normal;
    color: #222;

    margin-left: 19px;
    margin-bottom: 17px;
}


.opcao__prato, .opcao__bebida, .opcao__sobremesa{
    width: 172px;
    margin-left: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #fff;

    border-radius: 9px;

    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 15%);

}

.opcao__imagem, .opcao__nome, .opcao__descricao, .opcao__preco{
    width: 144px;
}

.opcao__imagem img{
    width: 144px;
    margin-top: 16px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.opcao__nome{
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    color: #000;
    margin-bottom: 4px;
}

.opcao__descricao{
    margin-bottom: 5px;

    font-weight: 300;
    font-size: 15px;
    color: #a6a6a6;
}

.opcao__preco{
    margin-bottom: 13px;

    font-weight: 400;
    font-size: 16px;
    color: #000;

}

footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;

    height:92px;
    background-color: #fff;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

}

footer button{
    height: 61px;
    width: 364px;

    border-radius: 50px;
    border: none;
    background-color:#CBCBCB;

    color: #fff;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    text-align: center;
}





